img{
    max-width: 100%;
    max-height: 100%;
}
.a1div
{
    width: 300px;
    height: 300px;
    font-family:ink free;
    color: black;
    border:5px solid black;
    position: absolute;
    margin: 50px;
    margin-left: 200px;
    border-radius: 10px ;
    
    background-size: cover;
}
.a2div
{
    width: 300px;
    height: 300px;
    font-family:ink free;
    color: black;
    border:5px solid black;
    margin: 50px;
    position: absolute;
    margin-left: 600px;
    border-radius: 10px ;
    background-size: cover;
   }